* {
    font-family: 'Roboto Slab', serif ;
}

@import "variables"; 
@import "maps";


/*Estilos para el nav*/
header {
    background-color: $header-footer;
    nav {
        ul {
            li {
                a {
                    color: map-get($map, texto);
                    border-radius: 5px;
                    letter-spacing: 1px;
                    transition: all 0.3s ease;
                    &:hover, &:active {
                        color: #111;
                        background: #fff;
                    }
                }
            }
        }
    }
}


/*Estilos para el footer*/
footer {
    background-color: $header-footer; 
    color:#2f3e46;
    .redes {
        .bi-facebook {
            @include redes($facebook); 
        }
        .bi-whatsapp {
            @include redes($whatsapp);
        }
        .bi-instagram {
            @include redes($instagram)
        }
    }
}

/*Estilos para la página "index"*/
#index {
    .section-1 {
        div {
            font-size: 1.5em;
            padding: 3em;
            background: $bg;
            background-attachment: fixed;
            h1, p {
                color: map-get($map, texto);
            }  
        }
    }
    .section-2 {
        background-color:#a4c3b2;
        .div-2 {
            .card-index {
                width: 17rem;
                transition: all 0.5s ease;
                a, h4 {
                    color:#111;
                    text-decoration: none;
                }
                &:hover {
                    filter: brightness(0.9);
                }
                }
         
            }
    }
}

/*Estilos para la página "nosotros"*/
#nosotros {
    section {
        .img-fluid {
            filter:brightness(0.8);  
        }
    }
    section {
        div {
            background: $bg;
            background-attachment: fixed;
            div {
                .sobre-nosotros {
                    color: map-get($map, titulos);
                    font-size: 2rem;
                    text-align: center;
                    padding: 1em;
                }
                h2, h3 {
                    color: map-get($map, titulos);
                    font-size: 1.3rem;
                }
                p, li {
                    color: map-get($map, texto);
                    font-size: 1rem; 
                }
            }
        }
    }
}

/*Estilos para la página "productos"*/
#productos {
    background: $bg;
    background-attachment: fixed;
    div {
        h1 {   
            color: map-get($map, titulos);
            font-size: 2rem;
            text-align: center;
            padding: 1em;}
    }
    section {
        div {
            p {
                color: map-get($map, texto);
                font-size: 1rem; 
            }
            img {
                min-width: 250px;
            }
        }
    }
}

/*Estilos para la página "encontranos"*/
#encontranos {
    @extend #productos;
    div {
        h2 {
            color: map-get($map, texto);
        }
    } 
}

/*Estilos para la página "contacto"*/
#contacto {
    background: $bg;
    background-attachment: fixed;
    div {
        h1{
            color: map-get($map, titulos);
            font-size: 2rem;
            text-align: center;
            padding: 1em;
        }
    }
    form {
        div {
            label {
                color: #fff;
            }
        }
    }
}


