* {
    font-family: 'Roboto Slab', serif ;
}

@import "variables"; 
@import "maps";

/*Estilos generales*/
body {
    height: 100vh;
    background: $header-footer;
}

/*Estilos para el nav*/
header {
    background-color: $header-footer;
    nav {
        ul {
            li {
                padding: 0.6em;
                a {
                    color: map-get($map, texto);
                    border-radius: 5px;
                    letter-spacing: 1px;
                    transition: all 0.3s ease;
                    &:hover, &:active {
                        color: $black;
                        background: #fff;
                    }
                }
            }
        }
    }
}


/*Estilos para el footer*/
footer {
    background-color: $header-footer; 
    color: $black;
    .footer-redes {
        .bi-facebook {
            @include redes($facebook); 
        }
        .bi-whatsapp {
            @include redes($whatsapp);
        }
        .bi-instagram {
            @include redes($instagram)
        }
    }
}

/*Estilos para la página "index"*/
#index {
    .section-1 {
        .reposteria-candela {
            align-content: center;
            justify-content: center;
            align-items: center;
            padding: 5em;
            background: $bg;
            background-attachment: fixed;
            h1, p {
                color: map-get($map, texto);
            }  
            h1 {
                font-size: 2.7em;
            }
            p {
                font-size: 1.1em;
            }
        }
    }
    .section-2 {
        background-color: $white;   
            .div-2 {
            .card-index {
                width: 17rem;
                transition: all 0.5s ease;
                margin-top: 2em;
                a, h4 {
                    color: $black;
                    text-decoration: none;
                }

                .btn {
                    color: $white;
                }

                .card-body {
                    text-align: center;
                    .card-title {
                        font-weight: bold;
                        font-size: 1.6em;
                    }
                    p {
                        color: $black;
                        font-size: 1.1em;
                    }
                }

                &:hover {
                    filter: brightness(0.9);
                }
              }
         
            }
        }
    .section-3 {
        background-color: $white;
        div {
            h3 {
                font-size: 1.9em; 
            }
            p {
                font-size: 1.4em;
            }
        }
        div {
            img {
                transition: all 1s ease;
                border-radius: 3em;
                &:hover {
                    filter: brightness(0.9);
                    border-radius: 50%;
                }
            }
        }
    }
}

/*Estilos para la página "nosotros"*/
#nosotros {
        section {
            background: $bg;
            background-attachment: fixed;
            div {
                h1 {
                    color: map-get($map, titulos);
                    font-size: 2em;
                    text-align: center;
                    padding: 1em;
                }
                h2, h3 {
                    color: map-get($map, titulos);
                    font-size: 1.6em;
                }
                p, li {
                    color: map-get($map, texto);
                    font-size: 1.3em; 
                }
            }
        }
        .nosotros-img {
            div {
                img {
                    transition: all 0.5s ease;
                    margin-top: 0.9em;
                    border-radius: 3em;
                    max-width:18em;
                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }
        }
    }

/*Estilos para la página "productos"*/
#productos {
    background: $bg;
    background-attachment: fixed;
    div {
        h1 {   
            color: map-get($map, titulos);
            font-size: 2em;
            text-align: center;
            padding: 1em;}
    }
    section {
        .card {
            width: 18rem;
            transition: all 0.5s ease;
            text-align: center;
            margin-bottom: 1em;
            img {
                min-width: 250px;
            }
            &:hover {
                filter: brightness(0.8);
            }
            .card-body {
                p {
                    color: $black;
                    font-size: 1em; 
                    font-weight: bold;
                }
            }
        }
    }
}

/*Estilos para la página "encontranos"*/
#encontranos {
    height: 80vh;
    width: 100%;
    @extend #productos;
    .encontranos-main {
        height: 100%;
        .map {
            height: 60%;
        }
        div {
            height: 30%;
            h2, p {
                color: map-get($map, texto);
            }
        } 
    }
}

/*Estilos para la página "contacto"*/
#contacto {
    background: $bg;
    background-attachment: fixed;
    div {
        h1{
            color: map-get($map, titulos);
            font-size: 2em;
            text-align: center;
            padding: 1em;
            margin-bottom:-1.4em
        }
    }
    form {
        div {
            label {
                color: #fff;
            }
        }
    }
}

/*Responsive Design*/
@media (min-width: 320px) and (max-width:1100px) {
    #index {
        .section-3 {
            div {
                transition: all 0.8s ease;
                p {
                    font-size: 1.1em;
                }
              }
        }
    }
}

@media (min-width: 1400px) {
    #index {
        .section-1 {
            .reposteria-candela {
                height: 20em;
            }
        }
        .section-2 {
            .div-2 {
                .card-index {
                    width: 20rem;
              }
            }
    }
  }
}

@media (min-width: 1600px) {
    #index {
        .section-2 {
            .div-2 {
                .card-index {
                    width: 23rem;
              }
            }
        .section-3 {
            div {
                transition: all 0.8s ease;
                h3 {
                    font-size: 2em;
                }
                p {
                    font-size: 1.5em;
                }
            }
        }
    }
  }
}